<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 m-auto">
        <h2 class="text-center mt-5">Login</h2>
        <form action="/login" method="post">
        {{#if loginErr}}

        <p class="error" style="color: red;">{{loginErr}}</p>
        {{/if}}
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" name="Email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="Password" placeholder="Password">
          </div>
          <div class="form-group d-flex justify-content-between">
            <a href="/signup" class="align-self-center">Create new account ?</a>
            <button type="submit" class="btn btn-primary float-right">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>